<html>

    <head>
        <meta charset="UTF-8">
        <title>Fique em Casa</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <div id="container">
            <section id="intro">
                <header>
                    <a href="/">
                        <img src="/img/logotipo.png" alt="Logotipo FiqueEmCasa">
                    </a>
                </header>

                <main>
                    <p>O período de isolamento social não deve estar sendo nada fácil.</p>
            
                    <p>Para amenizar um pouco do problema, disponibilizamos algumas sugestões de <strong>jogos, brincadeiras, filmes, livros, cursos e dicas</strong> pra você e a sua família.</p>
            
                    <p>
                        Clique em ver sugestões para listar as sugestões disponíveis, 
                        e se possível contribua sugerindo algo.
                    </p>
                </main>
                
                <section id="buttons">
                    <button onclick="onOff()">+ Contribua</button>
                    <a href="/proposals" class="button">Ver sugestões</a>
                </section>

                <footer>
                    A <a href="http://www.dfdx.com.br" target="_blank">DFDX</a> ajuda você a fazer a sua parte
                </footer>
            </section>

            <section id="last-proposals">

                {% for proposal in proposals %}

                    <div class="proposal">
                        <img src="{{proposal.img}}" alt="Imagem de {{proposal.title}}" />
                        <div class="content">
                            <h3>{{proposal.title}}</h3>
                            <p>{{proposal.category}}</p>
                            <div class="description">
                                {{proposal.description}}
                            </div>
                            <a href="{{proposal.url}}" target="_blank">Ver a sugestão</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>

        <!-- Modal -->
        <div id="modal" class="hide">
            <div class="content">
                <h1>Nova Sugestão</h1>

                <form action="">

                    <div class="input-wrapper">
                        <label for="title">Título da Sugestão</label>
                        <input type="text" name="title" />
                    </div>

                    <div class="input-wrapper">
                        <label for="category">Categoria</label>
                        <input type="text" name="category" />
                    </div>

                    <div class="input-wrapper">
                        <label for="imagem">Link da imagem</label>
                        <input type="url" name="imagem" />
                    </div>

                    <div class="input-wrapper">
                        <label for="description">Digite uma descrição para a sua sugestão</label>
                        <textarea name="description" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="input-wrapper">
                        <label for="link">Link da sugestão</label>
                        <input type="url" name="link" />
                    </div>

                    <a href="#" onclick="onOff()">Voltar</a>
                    <button>Salvar</button>

                </form>

            </div>
        </div>

        
        <script src="/script.js"></script>

    </body>
</html>